{% extends "base_form.html" %}

{% block title %}Add QR Code{% endblock %}

{% block form_name %}Add QR Code{% endblock %}

{% block form_content %}
<div class="form-group mb-4 mt-4">
    <div class="input-group">
        <span class="input-group-text">Title</span>
        {{ form.title }}
    </div>
</div> <!-- form-group// -->

<div class="form-group mb-4 mt-4">
    <div class="input-group">
        {{ form.text }}
    </div>
</div> <!-- form-group// -->       

<div class="form-group mb-4 mt-4">
    <input type="submit" name="submit" class="btn btn-primary btn-block" value='Submit' />
</div>                               

<p class="text-center"><a href="{% url 'account:home:main' %}" class="link-primary">Home</a></p>
{% endblock %}
