{% extends "base.html" %}

{% block title %}Delete Link{% endblock %}

{% block content %}

<div class="container d-flex justify-content-md-center align-items-center mt-5">
    <aside class="col-sm-6">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">Delete link</h4>
                <hr>
                <form method='POST'>
                {% csrf_token %}

                <div class="form-group mb-4 mt-4">
                    <div class="input-group">
                        <span class="input-group-text">Title</span>
                        <input class="form-control" type="text" value="{{ link.title }}" disabled readonly>
                    </div>
                </div> <!-- form-group// -->

                <div class="form-group mb-4 mt-4">
                    <div class="input-group">
                        <span class="input-group-text">URL</span>
                        <input class="form-control" type="text" value="{{ link.url }}" disabled readonly>
                    </div>
                </div> <!-- form-group// -->       

                <div class="row mb-4 mt-4">
                    <div class="col-md-6">
                        <input type="submit" name="cancel" class="btn btn-primary btn-block" value='Cancel' />
                    </div>
                    <div class="col-md-6 text-right">
                        <input type="submit" name="delete" class="btn btn-primary btn-block" value='Delete' />
                    </div>                                    
                </div> <!-- .row// --> 
                                                                                 
            </form>
            </article>
            </div> <!-- card.// -->
    </aside>
</div>

{% endblock %}