{% extends "base_form.html" %}

{% block title %}Delete Link{% endblock %}

{% block form_name %}Delete link{% endblock %}

{% block form_content %}
<div class="form-group mb-4 mt-4">
    <div class="input-group">
        <span class="input-group-text">Title</span>
        <input class="form-control" type="text" value="{{ link.title }}" disabled readonly>
    </div>
</div> <!-- form-group// -->

<div class="form-group mb-4 mt-4">
    <div class="input-group">
        <span class="input-group-text">URL</span>
        <input class="form-control" type="text" value="{{ link.url }}" disabled readonly>
    </div>
</div> <!-- form-group// -->       

<div class="row mb-4 mt-4">
    <div class="col-md-6">
        <input type="submit" name="cancel" class="btn btn-primary btn-block" value='Cancel' />
    </div>
    <div class="col-md-6 text-right">
        <input type="submit" name="delete" class="btn btn-primary btn-block" value='Delete' />
    </div>                                    
</div> <!-- .row// --> 
{% endblock %}