{% extends 'base_main.html' %}

{% block title %}Edit homepage{% endblock %}

{% block side_buttons %}
    <button class="btn btn-primary" onclick="document.location=`{% url 'account:home:add-code' %}`">Add QR Code</button>
    <button class="btn btn-primary" onclick="document.location=`{% url 'account:home:main' %}`">Home</button>
{% endblock %}

{% block user_personal_code_buttons %}
{% endblock %}

{% block user_codes_buttons %}
    <button class="btn btn-outline-primary" onclick="document.location=`{% url 'account:home:edit-code' code.id %}`">Edit</button>
    <button class="btn btn-outline-primary" onclick="document.location=`{% url 'account:home:delete-code' code.id %}`">Delete</button>
{% endblock %}

