{% extends 'base_main.html' %}

{% block title %}Homepage{% endblock %}

{% block side_buttons %}
    <button class="btn btn-primary" onclick="document.location=`{% url 'account:home:edit' %}`">Edit</button>
{% endblock %}

{% block user_codes_buttons %}
    <button class="btn btn-outline-primary" onclick="navigator.clipboard.writeText('{{ code.text }}')">Copy</button>
    <button class="btn btn-outline-primary" onclick="document.location=`{% url 'qrcode:show' code.id %}`">Show</button>
{% endblock %}

