{% extends 'base_main.html' %}

{% block title %}Homepage{% endblock %}

{% block side_buttons %}
    <button class="btn btn-primary" onclick="document.location=`{% url 'account:home:edit-main' %}`">Edit</button>
{% endblock %}

{% block user_personal_link_buttons %}
    <button class="btn btn-outline-primary" onclick="navigator.clipboard.writeText('{{ request.META.HTTP_HOST }}/{{ user.username }}')">Copy</button>
    <button class="btn btn-outline-primary" onclick="document.location=`{% url 'main-page:show-user' user.username %}`">Go</button>
{% endblock %}

{% block user_links_buttons %}
    <button class="btn btn-outline-primary" onclick="navigator.clipboard.writeText('{{ link.url }}')">Copy</button>
    <button class="btn btn-outline-primary" onclick="document.location=`//{{ link.url }}`">Go</button>
{% endblock %}

