{% extends "base_form.html" %}

{% block title %}Sign Up{% endblock %}

{% block form_name %}Sign Up{% endblock %}

{% block form_content %}

<div class="form-group mb-4 mt-4">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        {{ form.username }}
    </div> <!-- input-group.// -->
{{ form.username.errors }}
</div> <!-- form-group// -->

<div class="form-group mb-4 mt-4">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        {{ form.password }}
    </div> <!-- input-group.// -->
{{ form.password.errors }}
</div> <!-- form-group// -->

<div class="form-group mb-4 mt-4">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        {{ form.confirm_password }}
    </div> <!-- input-group.// -->
{{ form.confirm_password.errors }}
</div> <!-- form-group// -->

<div class="form-group mb-4 mt-4">
    <button type="submit" class="btn btn-primary btn-block"> Signup </button>
</div> <!-- form-group// -->

<p class="text-center mb-4 mt-1"><a href="{% url 'account:login' %}" class="link-primary">Already have an account? Log in</a></p>

{% endblock %}
