{% extends 'base.html' %}

{% block title %}{{ code.title }}{% endblock %}

{% block content %}


<div class="text-center">
    <h1>{{ code.title }}</h1>
    <img src="{{ code_source }}" class="rounded mb-4" alt="{{ code.text }}">
</div>

<div class="text-center">
    <button class="btn btn-outline-primary mr-3" onclick="">Download</button>
</div>

<div class="text-center mt-4">
    <p><strong>Content:</strong> 
        {% if code.is_link %}
            <a href="//{{ code.text }}" class="link-primary">{{ code.text }}</a>
        {% else %}
            {{ code.text }}
        {% endif %}
    </p>
</div>

{% endblock %}