{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="d-flex mt-5 mb-5">
        <div class="mr-auto ml-5 p-2">
            <h2>{{ user.username }}</h2>
        </div>
        <div class="p-2 mr-5">
            {% block side_buttons %}
            {% endblock %}
        </div>
    </div>

    <div class="container mr-5 ml-5">
    <table class="table">
        <colgroup>
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 50%;">
            <col span="1" style="width: 20%;">
         </colgroup>

        <thead class="table-primary">
          <tr>
              <th>Title</th>
              <th>Text</th>
              <th>Action</th>
          </tr>
        </thead>

        <tbody>
            {% for code in codes %}
            <tr>
                <td>{{ code.title }}</td>
                {% if code.is_link %}
                    <td><a href="//{{ code.text }}" class="link-primary">{{ code.text }}</a></td>
                {% else %}
                    <td>{{ code.text }}</td>
                {% endif %}
                <td>
                    {% block user_codes_buttons %}
                    {% endblock %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}

