<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main-page:main' %}">Linker</a>
      
        <div class="d-flex">
        {% if request.user.is_authenticated %}
            <button class="btn btn-outline-success mr-3" onclick="document.location=`{% url 'account:home:main' %}`">Home</button>
            <button class="btn btn-outline-success mr-3" onclick="document.location=`{% url 'account:logout' %}`">Log Out</button>
        {% else %}
            <button class="btn btn-outline-success mr-3" onclick="document.location=`{% url 'account:login' %}`">Log In</button>
            <button class="btn btn-outline-success mr-3" onclick="document.location=`{% url 'account:signup' %}`">Sign Up</button>
        {% endif %}
        </div>
    </div>
  </nav>