{% extends 'base.html' %}

{% block title %}QR Coder{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-md-center align-items-center mt-5">
        <aside class="col-sm-6">
            <div class="card border-primary">
                <article class="card-body">
                    <h4 class="card-title text-center mb-4 mt-1">Search user</h4>
                    <hr>
                    <form method='POST'>
                    {% csrf_token %}
                    {{ form.username.errors }}
                    <div class="input-group mb-3">
                        {{ form.username }}
                        <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
                    </div>
                    </form>
                </article>
            </div> <!-- card.// -->
        </aside>

{% endblock %}